export(flowMeans)
export(changepointDetection)
export(plot)
export(summary)
export(show)
importClassesFrom(methods, ANY, list, lm, numeric, vector)
importClassesFrom(flowCore, flowFrame)
importMethodsFrom(Biobase, exprs)
importMethodsFrom(methods, show)
importMethodsFrom(rrcov, plot)
importFrom(feature, featureSignif)
importFrom(graphics, abline, axis, par, title)
importFrom(grDevices, dev.off, png)
importFrom(methods, is, new)
importFrom(stats, bw.nrd, cov, kmeans, lm, mahalanobis, runif)

